body {
    display: flex;
    flex-direction: column;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRc7Mc9bMjTvTGC2YXgTUZmF1fP6FER16wOt8l_QKH9c1O6BSvemEKKYKsbDzl_Wrz90ws&usqp=CAU);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;

    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
header {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    width: 100%;
    height: 90px;
    position: fixed;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.barIcons {
    display: flex;
    justify-content: space-around;
    width: max-content;
    flex-grow: 0.27;
    padding-right: 1rem;
    align-self: center;
}
.intorduction {
    padding-top: 10rem;
}
.logo {
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    cursor: pointer;
}
.my {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 650;
    font-size: xx-large;
    font-stretch: normal;
}
.PF {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 650;
    font-size: xx-large;
    font-stretch: normal;
    color: #0064E1;
}
.BI {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: larger;
    text-decoration: none;
    color: white;

}
.BI:hover {
    color:#0064E1 ;
}
.mainContainer {
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
}
.greetings {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 650;
    font-stretch: normal;
}
.verb {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    font-stretch: normal;
    color:white ;
    margin-top: 5px;
    
}
.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    font-stretch: normal;
    color:#0064E1 ;
    margin-top: 5px;
    margin-bottom: 0px;
}
.intorduction {
    display: flex;
    flex-direction: column;
}
.identity {
    display: flex;
    height: 60px;
}
.skills {
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 600;
    margin-left: 1rem;
    width: 30%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.intro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: inherit;
}
.intro span:hover {
    background-color: rgba(22, 13, 13, 0.114);

}
.contectlogos {
    display: flex;
    align-items: baseline;
    width: 25%;
    padding-left: 2rem;
    justify-content: space-between;
}
.CL {
    height: 30px;
}
/* Style for the buttons container */
.buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px; /* Adjust the margin according to your design */
    width: 30%;
}

/* Style for the buttons */
.buttons button {
    background-color: #4444; /* Green background color */
    color: white; /* White text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    text-align: center; /* Center text within the button */
    text-decoration: none; /* Remove underline from links */
    display: inline-block; /* Make buttons inline elements */
    font-size: 16px; /* Adjust font size */
    cursor: pointer; /* Show hand cursor on hover */
    border-radius: 2rem;
}

/* Style for the button links */
.buttons button a {
    color: white; /* Set link color to white */
    text-decoration: none; /* Remove underline from links */
}

/* Hover effect */
.buttons button:hover {
    background-color: #0064E1; /* Darker green color on hover */
}
